@import url('https://fonts.googleapis.com/css?family=Vibur|Work+Sans');

body {
  color:black;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-weight: 100;
  font-size: 24px;
  /* overflow: hidden; */
  overflow-y: auto;
  overflow-x: hidden;
  height: 1000px;
  width: 100vw;
  margin: 0;
  padding: 0;
  cursor: none;
}

div.all {
  height: inherit;
  width: inherit;
  overflow: hidden;
}

#cursor {
  display: none;
  background-color: pink;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 1001;
}

#cursor-tail {
  display: none;
  background-color: black;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 1001;
  /* mix-blend-mode: difference; */
}

.cursor-is-hover {
  height: 25px;
  width: 25px;
}

h1.logo {
  font-family: 'Vibur';
  font-weight: 100;
  font-size: 70px;
  position: absolute;
  top: 1rem;
  left: 45vw;
  margin: 0;
  z-index: 1000;
}

p {
  margin: 0;
}

p.p-memo {
  width: 375px;
  line-height: 32px;
  padding-left: 7rem;
}

p.p-insta {
  padding-top: 20px;
}

div.footer {
  position: absolute;
  z-index: 1000;
  top: 800px;
  margin-bottom: 3rem;
  width: 100vw;
}

div.footer-flex-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  justify-content: space-between;
}

div.footer-contact-wrap {
  padding: 10px ;
  text-align: right;
  padding-right: 7rem;
}

img {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
  margin: 0;
}

img.img-1 {
  width: 680px;
  top: calc(52% - 227px);
  left:calc(50% - 340px);
}

img.img-2 {
  width: 535px;
  top: calc(52% - 200px);
  left:calc(50% - 268px);
}

img.img-3 {
  width: 465px;
  top: calc(52% - 155px);
  left:calc(50% - 233px);
} 

/* img.img-4 {
  width: 400px;
  top: calc(48% - 270px);
  left:calc(50% - 200px);
} */

img.img-5 {
  width: 365px;
  top: calc(52% - 275px);
  left:calc(50% - 183px);
}

/* a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  cursor: none;
} */

p > a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 0 3px 5px 3px;
  position: relative;
  line-height: 1;
  cursor: none;
}

p > a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 100%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

p > a:hover:after {
  width: 100%;
  left: 0;
}

/*-----------------MEDIAQUERIES------------------------*/



/*----------------- >= 15 inch MACBOOK---------------------*/

@media screen and (min-width: 1440px) and (min-height: 900px) {
  div.footer {
    top: 900px;
  }
} 

