@import url('https://fonts.googleapis.com/css?family=Vibur|Work+Sans');

/* Base styles for - iphone 6/7/8----------- */

body {
  color:black;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-weight: 100;
  font-size: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  cursor: none;
}

br {
  display: inline;
}

p::selection,
a::selection,
h1::selection,
br::selection {
  background: black;
  color: white;
}

img::selection {
  opacity: .5;
  background-color: white;
}

div.all {
  height: inherit;
  width: inherit;
  overflow: hidden;
}

#cursor {
  display: none;
  background-color: pink;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 1001;
}

#cursor-tail {
  display: none;
  background-color: black;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 1001;
}


h1.logo {
  font-family: 'Vibur';
  font-weight: 100;
  font-size: 50px;
  position: absolute;
  top: 1rem;
  left: calc(50vw - 50px);
  margin: auto;
  z-index: 1000;
}

p {
  margin: 0;
  text-align: center;
}

p.p-memo {
  width: 66vw;
  line-height: 28px;
  padding: 1rem;
  margin: auto;
}

p.p-insta {
  padding-top: 20px;
}

div.mobile-drag-wrap {
  height:70vh;
  width: 100vw;
}

div.footer {
  /* background-color: #F0F1F4; */
  position: absolute;
  z-index: 1000;
  bottom: -115px;
  margin-bottom: 1rem;
  width: 100vw;
}

div.footer-flex-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 130px; */
  justify-content: space-between;
}

div.footer-contact-wrap {
  padding: 1rem;
}

img {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
  margin: 0;
}

img.img-1 {
  display: none;
  width: 350px;
  top: calc(47% - 118px);
  left:calc(50% - 175px);
}

img.img-2 {
  width: 240px;
  top: calc(47% - 90px);
  left:calc(50% - 120px);
}

img.img-3 {
  width: 213px;
  top: calc(47% - 71px);
  left:calc(50% - 107px);
} 

/* img.img-4 {
  width: 400px;
  top: calc(48% - 270px);
  left:calc(50% - 200px);
} */

img.img-5 {
  width: 190px;
  top: calc(47% - 145px);
  left:calc(50% - 95px);
}

p > a {
  text-decoration: none;
  color: inherit;
}

/*-----------------MEDIAQUERIES------------------------*/

/*---------------Iphone 5 or SE---------------------*/

@media screen and (device-width: 320px) {
  div.footer {
    bottom: -180px;
  }

  div.mobile-drag-wrap {
    height: 73vh;
  }

  br {
    display: none;
  }

  img.img-1 {
    width: 300px;
    top: calc(51% - 100px);
    left:calc(50% - 150px);
  }
  
  img.img-2 {
    width: 220px;
    top: calc(51% - 83px);
    left:calc(50% - 110px);
  }
  
  img.img-3 {
    width: 195px;
    top: calc(51% - 66px);
    left:calc(50% - 98px);
  } 
  
  /* img.img-4 {
    width: 400px;
    top: calc(48% - 270px);
    left:calc(50% - 200px);
  } */
  
  img.img-5 {
    width: 170px;
    top: calc(51% - 128px);
    left:calc(50% - 85px);
  }
}

@media screen and (device-height: 812px) and (device-width: 375px) {
  div.mobile-drag-wrap {
    height:70vh;
  }
} 

/*----------------------IPHONE X & Xs specifics---------------------*/

@media screen and (device-height: 812px) and (device-width: 375) {
  div.mobile-drag-wrap {
    height:71vh;
  }
}

/*---------------IPHONE 6+,7+,8+, Xr & Xs Max specifics-----------------*/

@media screen and (min-device-width: 414px) {
  div.mobile-drag-wrap {
    height:74vh;
  }
}

/*--------------IPHONE X, Xs, Xr, Xr Max, & 6+,7+,8+-----------------*/

@media screen and (min-device-height: 736px) and (max-device-height: 896px) {

  div.footer {
    bottom: -130px;
  }

  p.p-memo {
    margin-bottom: 10px;
  }

  /* img.img-1 {
    width: 300px;
    top: calc(46% - 100px);
    left:calc(50% - 150px);
  } */
  
  img.img-2 {
    width: 260px;
    top: calc(46% - 98px);
    left:calc(50% - 130px);
  }
  
  img.img-3 {
    width: 230px;
    top: calc(46% - 77px);
    left:calc(50% - 115px);
  } 
  
  /* img.img-4 {
    width: 400px;
    top: calc(48% - 270px);
    left:calc(50% - 200px);
  } */
  
  img.img-5 {
    width: 200px;
    top: calc(46% - 150px);
    left:calc(50% - 100px);
  }
}

/*-------------------Regular Ipad--------------------*/

@media screen and (min-width: 768px) and (min-height: 600px){
  body {
    overflow: hidden;
  }
  br {
    display: none;
  }

  div.mobile-drag-wrap {
    height: 100vh;
  }
 
  p {
    margin: 0;
    text-align: inherit;
  }
  
  p.p-memo {
    width: 350px;
    line-height: 32px;
    padding: .5rem 0 0 2rem;
    margin: auto 0px;
  }

  p.p-contact {
    padding-top: .7rem;
  }
  
  div.footer {
    background-color: transparent;
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    margin-bottom: 1.5rem;
    width: 100vw;
  }
  
  div.footer-flex-wrap {
    flex-direction: row;
    justify-content: space-between;
  }
  
  div.footer-contact-wrap {
    padding: 0 2.5rem 0 0 ;
    text-align: right;
  }

  img.img-1 {
    display: block;
    width: 580px;
    top: calc(49% - 193px);
    left:calc(50% - 290px);
  }
  
  img.img-2 {
    width: 435px;
    top: calc(49% - 163px);
    left:calc(50% - 217px);
  }
  
  img.img-3 {
    width: 365px;
    top: calc(49% - 122px);
    left:calc(50% - 182px);
  } 
  
  /* img.img-4 {
    width: 400px;
    top: calc(48% - 270px);
    left:calc(50% - 200px);
  } */
  
  img.img-5 {
    width: 300px;
    top: calc(49% - 225px);
    left:calc(50% - 150px);
  }
}

/*--------------------IPAD PRO & small Desktops-------*/

@media screen and (min-width: 1024px) and (min-height: 768px) {

  br {
    display: none;
  }
  h1.logo {
    top: 1rem;
    font-size: 65px;
    position: absolute;
    left: calc(50vw - 67px);
  }

  div.footer {
    margin-bottom: 2rem;
  }

  p.p-memo {
    padding: .25rem 0 0 7rem;
  }

  div.footer-contact-wrap {
    padding: 0 7rem 0 0 ;
  }
 
  
  img.img-1 {
    width: 680px;
    top: calc(50% - 227px);
    left:calc(50% - 340px);
  }
  
  img.img-2 {
    width: 535px;
    top: calc(50% - 200px);
    left:calc(50% - 268px);
  }
  
  img.img-3 {
    width: 465px;
    top: calc(50% - 155px);
    left:calc(50% - 233px);
  } 
  
  /* img.img-4 {
    width: 400px;
    top: calc(48% - 270px);
    left:calc(50% - 200px);
  } */
  
  img.img-5 {
    width: 365px;
    top: calc(50% - 275px);
    left:calc(50% - 183px);
  }

  p > a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 0 3px 5px 3px;
    position: relative;
    line-height: 1;
    cursor: none;
  }
  
  p > a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 100%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  p > a:hover:after {
    width: 100%;
    left: 0;
  } 
}
 
/*----------------13 inch Macbook --------------------*/

@media screen and (min-width: 1024px) and (min-height: 650px) {
  div.footer {
    margin-bottom: 1.5rem;
  }

  p.p-memo {
    padding: .25rem 0 0 5rem;
  }

  div.footer-contact-wrap {
    padding: 0 5rem 0 0 ;
  }
}

@media screen and (min-width: 1280px) and (min-height: 600px) {

  div.footer {
    margin-bottom: 1.5rem;
  }

  p.p-memo {
    padding: .25rem 0 0 7rem;
  }

  div.footer-contact-wrap {
    padding: 0 7rem 0 0 ;
  }
  
}

/*----------------- >= 15 inch MACBOOK---------------------*/

@media screen and (min-width: 1680px) and (min-height: 600px) {

  h1.logo {
    padding-top: 1.5rem;
  }
  div.footer {
    margin-bottom: 3rem;
  }
} 

